@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');

body{
    font-family: 'Kalam', cursive;
    margin: 0px
}

:root{
    --primary-color: #F2C94C;
}

.navbar{
    background-color: var(--primary-color);
    text-align: center;
    padding: 1rem;
    margin: 0rem 0rem 2rem;
    font-size: large;
}

.section{
    margin: 0rem 30rem;
    
}

textarea{
    font-family: 'Kalam', cursive;
    width: 100%;
    height: 15vh;
    font-size: large;
}

#txt-button{
    font-family: 'Kalam', cursive;
    font-size: large;
    padding: 1rem 2rem;
    margin: 0.5rem 0rem 1.5rem;
    border: none;
    background-color: var(--primary-color);
   
}

#output-area{
    display: block;
    border: solid;
    width: 100%;
    margin: 0.5rem 0rem ;
    height: 10vh;
}

.footer{
    background-color: var(--primary-color);
    font-size: large;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    
}

.footer-heading{
    font-size: larges;
    max-width: 600px;
    margin: auto;
}